.header{
  display: flex;
  align-items: center;
justify-content: space-between;
}

.dark-mode{
  background-color: black;

}

.dark-mode h1{
  color: white;
}


.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}


.notes-list{display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.note.new{
  background-color: lightblue;
}

.save{
  background-color:rgba(128, 128, 128, 0.37);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover{
  background-color: antiquewhite;
  cursor: pointer;
}


textarea{
  border: none;
  resize: none;
  background-color: lightblue;
}

textarea:focus{
  outline: none;
}


.note{
  background-color: #b6fe8a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.37);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;

}

.search input{
  border: none;
  background-color: rgba(128, 128, 128, 0.37);
}


.search input:focus{
  outline: none;
  
}